/**
 * Variables
 */

/* ---------------------------------------
# Typography.
---------------------------------------- */
$font: 'noto-sans', sans-serif;
$font--secondary: foco, sans-serif;

/* ---------------------------------------
# Animation & Transitions.
---------------------------------------- */
$transition: 0.25s;

/* ---------------------------------------
# Global Colours.
---------------------------------------- */
$white: #FFFFFF;
$black: #000000;
$error: red;

/* ---------------------------------------
# Site Specific Colours.
---------------------------------------- */


/* ---------------------------------------
# Social Media Colours.
---------------------------------------- */
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #007bb6;
$google: #dd4b39;
$pinterest: #cb2027;
$youtube: #ff0000;
$flickr: #ff0084;
