.container {
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 1275px;

  .container {
    width: 100%;
    max-width: none;
  }
}

.entry-content {
  width: 90%;
  max-width: 840px;
  margin: 0 auto;
}

.break-out {
  position: relative;
  margin-left: -50vw !important;
  max-width: 100vw !important;
  width: 100vw !important;
  left: 50% !important;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    max-width: calc(100vw - 9px) !important;
  }
}