.container,
.wp-block-columns {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1272px;
}

.entry-content {
  width: 90%;
  max-width: 840px;
  margin: 0 auto;
}

.break-out,
.wp-block-group {
  position: relative;
  margin-left: -50vw !important;
  max-width: 100vw !important;
  width: 100vw !important;
  left: 50% !important;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    max-width: calc(100vw - 12px) !important;
  }

  .wp-block-column & {
    margin-left: auto !important;
    max-width: none !important;
    width: auto !important;
    left: auto !important;
  }
}

.wp-block-columns {
  position: relative;
  padding: 0 5vw;
  max-width: 100vw;
  margin-left: -50vw;
  width: 100vw;
  left: 50%;

  @media (min-width: 1320px) {
    margin-left: -636px;
    max-width: 1272px;
    padding: 0;
  }
}