.g01 {
  position: relative;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;

  &::after {
    @include absolute(1);
    content: '';
    user-select: none;
    pointer-events: none;
    box-shadow: 0 6px 16px 0 rgba(7, 18, 37, 0.1);
  }
}
